@import './partials/variables';
@import './partials/mixins';

body {
    font-family: 'Fira Code', monospace;
    background-color: $main-background-color;
    color: $font-color;
}

.card-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
}

.card {
    border: none;
    color: $font-color;
}

.card-1 {
    background-color: $secondary-background-color;
}

.card-2 {
    background-color: $main-background-color;
}

.card-title {
    margin: 2rem 0 0 0;
}

.card-text {
    line-height: 2;
}

.card-interests {
    margin: 1rem 2rem;
}

.card-info {
    margin: 2rem;
}

.btn {
    @include buttons;
}

#projects-container,
#resume-container {
    margin: 6rem 0;
}

.project {
    margin: 2rem;
}